{
    "resourceType": "Patient",
    "id": "{{ msg.id | default: generate_uuid }}",
    "text": {
        "status": "generated",
        "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\">FHIR-Structured Patient Data</div>"
    },
    "active": true,
    {% if msg.gender -%}
    "gender": "{{ msg.gender }}",
    {% endif -%}
    {% if msg.birthDate -%}
    "birthDate": "{{ msg.birthDate }}",
    {% endif -%}
    "telecom": [
        {
            "system": "{{ msg.telecom[0].system }}",
            "value": "{{ msg.telecom[0].value }}",
            "use": "{{ msg.telecom[0].use }}"
        },
        {
            "system": "{{ msg.telecom[1].system }}",
            "value": "{{ msg.telecom[1].value }}",
            "use": "{{ msg.telecom[1].use }}"
        }
    ],
    "address": [
        {
            "city": "{{ msg.address[0].city }}",
            "postalCode": "{{ msg.address[0].postalCode }}",
            "country": "{{ msg.address[0].country }}"
        }
    ],
    "managingOrganization": {
        "reference": "Organization/fhir-passthrough",
        "display": "FHIR Passthrough System"
    }
}